<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BatterySafe Setting</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.thejailpad.batterysafepref</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>20</integer>
			<key>defaults</key>
			<string>com.thejailpad.batterysafepref</string>
			<key>key</key>
			<string>POURCENTAGESET</string>
			<key>label</key>
			<string>Percentage</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>40</integer>
				<integer>50</integer>
				<integer>60</integer>
				<integer>70</integer>
				<integer>80</integer>
				<integer>90</integer>
				<integer>100</integer>
			</array>
			<key>shortTitles</key>
			<array>
				<string>10%</string>
				<string>20%</string>
				<string>30%</string>
				<string>40%</string>
				<string>50%</string>
				<string>60%</string>
				<string>70%</string>
				<string>80%</string>
				<string>90%</string>
				<string>100%</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>10%</string>
				<string>20%</string>
				<string>30%</string>
				<string>40%</string>
				<string>50%</string>
				<string>60%</string>
				<string>70%</string>
				<string>80%</string>
				<string>90%</string>
				<string>100%</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other disabling</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thejailpad.batterysafepref</string>
			<key>key</key>
			<string>enabledbluetooth</string>
			<key>label</key>
			<string>Bluetooth</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thejailpad.batterysafepref</string>
			<key>key</key>
			<string>enabledwifi</string>
			<key>label</key>
			<string>Wifi</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thejailpad.batterysafepref</string>
			<key>key</key>
			<string>enabledcellulardata</string>
			<key>label</key>
			<string>Cellular data</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Information</string>
		</dict>
                <dict>
                        <key>cell</key>
                        <string>PSButtonCell</string>
                        <key>label</key>
                        <string>My Facebook</string>
                        <key>action</key>
                        <string>facebook:</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSButtonCell</string>
                        <key>label</key>
                        <string>My Twitter</string>
                        <key>action</key>
                        <string>twitter:</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSButtonCell</string>
                        <key>label</key>
                        <string>About</string>
                        <key>action</key>
                        <string>about:</string>
                </dict>
	</array>
	<key>title</key>
	<string>BatterySafe</string>
</dict>
</plist>
